* {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    
}

a:visited {
    color: white;
}

.nav {
    background-color: black;
    color: white;
}


h1 {
    /*visibility: hidden;*/
}

p {
    color: orange;
}

li {
    list-style: none;
}