* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}
a:hover {
    color: yellow;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;  
    background-color: black;
}

.nav {
    background-color: black;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row     
}

li {
    margin: 5px 10px;
    list-style: none;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    /*height: 400px;*/
}

.articulo {
    font-size: 10px;
    margin: 10px;
    /*height: 300px;*/
    width: 200px;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 5px;
    text-align: center;    
}
.articulo:hover {
    background-color: rgba(80, 80, 150, 0.8);
}

.addCarrito {
    width: 100px;
    border-radius: 10px;
    border-color: black;
}
.addCarrito:hover {
    background-color: yellow;
    color: green;
}

.addCarrito:active {
    background-color: green;
    color: greenyellow;
}

#carrito {
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
}

.formulario {
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: #f5f5f5;
    font-size: 10px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

@media(max-width: 768px) {
    .parent {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    }
}